<h3 class="mt-3 border-2 border-top">Ejemplo 2</h3>
<div class="col-3">
    <p>Experiencia laboral</p>
    <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
        <p>Empleos cargados: </p>
          <ul>
            <li #liLT>EmpleoUno: {{lugarDeTrabajo[0]}}</li>
            <li #liDT>TareaUno: {{descripcionTarea[0]}}</li>
          </ul>
          <ul>
            <li #liLT>EmpleoDos: {{lugarDeTrabajo[1]}}</li>
            <li #liDT>TareaDos: {{descripcionTarea[1]}}</li>
          </ul>
          <ul>
            <li #liLT>EmpleoTres: {{lugarDeTrabajo[2]}}</li>
            <li #liDT>TareaTres: {{descripcionTarea[2]}}</li>
          </ul>
    </div>
    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modalLab">Agregar Empleo</button>
    <div class="modal" id="modalLab">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <p>Ingrese los datos correspondientes.</p>
                <div class="row">
                    <div class="col-3">
                        <label for="formNuevoEmpleo" class="form-label">Lugar de trabajo: </label>
                    </div>
                    <div class="col-6">
                        <input #inputLT type="text" class="form-control" id="inputLT" [(ngModel)]="restInputLT">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="formNuevoEmpleo" class="form-label">Descripción de la Tarea: </label>
                    </div>
                    <div class="col-6">
                        <input #inputDT type="text" class="form-control" id="inputDT" [(ngModel)]="restInputDT">
                    </div>
                </div>
          <div class="mt-2 pt-2 border-top">
            <button type="button" class="btn btn-primary btn-sm" (click)="guardarDatos(inputLT.value, inputDT.value)">Guardar datos</button>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
</div>
