<h3 class="mt-3 border-2 border-top">Ejemplo 4</h3>
<div class="col-3">
    <p>Experiencia laboral</p>
    <div class="p-3 bg-info bg-opacity-10 border border-info border-start-1 rounded-start border-end-0">
        <p>Empleos cargados: </p>
        <ng-template #temBaseDos>
            <div #divTemp id="divTemp" name="divTemp" nameb="divTemp">
                <li>
                    <p #prrfLT namelt="varLT">Empleo: {{lugarDeTrabajoDos[0]}}</p>
                    <p #prrfDT namedt="varDT">Tarea: {{descripcionTareaDos[0]}}</p>
                </li>
            </div>
        </ng-template>
    </div>
    <button type="button" id="nuevaSeccion" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modalLabDos">Agregar Empleo</button>
    <div class="modal" id="modalLabDos">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <p>Ingrese los datos correspondientes.</p>
                <div class="row">
                    <div class="col-3">
                        <label for="formNuevoEmpleo" class="form-label">Lugar de trabajo: </label>
                    </div>
                    <div class="col-6">
                        <input #inputLTDos type="text" class="form-control" id="inputLT" [(ngModel)]="restInputLTDos">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="formNuevoEmpleo" class="form-label">Descripción de la Tarea: </label>
                    </div>
                    <div class="col-6">
                        <input #inputDTDos type="text" class="form-control" id="inputDT" [(ngModel)]="restInputDTDos">
                    </div>
                </div>
          <div class="mt-2 pt-2 border-top">
            <button type="button" class="btn btn-primary btn-sm me-3" (click)="guardarDatosDos(inputLTDos.value, inputDTDos.value)">Guardar datos</button>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
</div>
